<h1 class="mat-display-3 mb-0 mt-2">Users</h1>
<div class="row col-12 mt-2">
  <div class="card mb-2 mx-1" style="max-width: 530px;" *ngFor="let user of users | async">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="assets/images/{{user.profilePicture}}" routerLink="/users/{{user.username}}" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title btn" routerLink="/users/{{user.username}}">{{user.username}}</h5>
          <h5 class="card-title">{{user.name + " " + user.surename}}</h5>
          <p class="card-text">Number of posts: {{user.numberOfPosts}}</p>
        </div>
        <div class="card-footer">
           <p class="col-10 card-text mt-0"><small class="text-muted">Registered {{format(user.registerDate)}}</small></p>
        </div>
      </div>
    </div>
  </div>
</div>
