<div class="card text-center col-lg-6 col-md-9 col-12 mx-auto mt-5 p-0">
  <div class="card-header">
    <h1 class="mb-0">Register</h1>
  </div>
  <div class="card-body">
    <div class="alert alert-danger" role="alert" *ngIf="usernameTaken">Username is already taken</div>
    <form [formGroup]="registerForm">
      <div class="form-group">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" [formControlName]="'name'" id="name">
        <span class="bmd-help mr-3" *ngIf="showNameError()">Must be 3-20 characters long</span>
      </div>
      <div class="form-group">
        <label for="surename" class="bmd-label-floating">Surename</label>
        <input type="text" class="form-control" [formControlName]="'surename'" id="surename">
        <span class="bmd-help mr-3" *ngIf="showSureNameError()">Minimal 2 characters long</span>
      </div>
      <div class="form-group">
        <label for="email" class="bmd-label-floating">Email address</label>
        <input type="text" class="form-control" id="email" [formControlName]="'email'" aria-describedby="emailHelp">
        <span class="bmd-help mr-3" *ngIf="showEmailError()">Email is not valid</span>
      </div>
      <div class="form-group">
        <label for="username" class="bmd-label-floating">Username</label>
        <input type="text" class="form-control" id="username" [formControlName]="'username'">
        <span class="bmd-help mr-3" *ngIf="showUserNameError()">Must be 4-20 characters long</span>
      </div>
      <div class="form-group">
        <label for="pass" class="bmd-label-floating">Password</label>
        <input type="password" class="form-control" [formControlName]="'password'" (change)="controllPassword()" id="pass">
        <span class="bmd-help mr-3" *ngIf="showPassowordError()">Minimal 5 characters long</span>
      </div>
      <div class="form-group">
        <label for="confirmPass" class="bmd-label-floating">Confirm Password</label>
        <input type="password" class="form-control" [formControlName]="'confirmPassword'" (change)="controllPassword()" id="confirmPass">
        <span *ngIf="!controllPassword()" class="bmd-help mr-3">Passwords do not match</span>
      </div>
      <br>
      <button type="submit" class="btn btn-raised btn-info" (click)="submit()">Register</button>
    </form>

  </div>

</div>
